@font-face {font-family: 'Norwester';src: local('Norwester'), url(../norwester.otf) format('opentype');}
@font-face {font-family: 'Circular Bold';src: local('Circular'), url(../CircularStd_Bold.ttf) format('truetype');}


body{
    width: 100%;
    height: 100%;
    background-color: #ef5c49;
    z-index: -1;
}

.cover{
    background-color: #ef5c49;
    height: 600px;
    width: 429px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 5px #873429);
}

.title{
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 225px;
    font-family: 'Norwester';
    font-size: 105px;
    color: #f9f1e3;
    letter-spacing: 0.3px;
}

.author{
    position: absolute;
    top:1.25%;
    height: 100px;
    width: 100px;
    left: 7%;
}

@keyframes fade{
    0% {opacity: 0;}
    10% {opacity:0.5;}
    95% {opacity:0.5;}
    100% {opacity: 0;}
}

.big{
    position: absolute;
    top: 24%;
    right: 0;
    height: 100px;
    width: 170px;
    opacity:0;
    animation: fade 10s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.bro{
    position: absolute;
    top: 30%;
    right: 0;
    height: 100px;
    width: 170px;
    opacity:0;
    animation: fade 10s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.is{
    position: absolute;
    top: 52%;
    left: 15%;
    height: 100px;
    width: 175px;
    opacity:0;
    animation: fade 10s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.w{
    position: absolute;
    top: 74%;
    right: 8%;
    height: 100px;
    width: 175px;
    opacity:0;
    animation: fade 10s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.you{
    position: absolute;
    top: 80%;
    right: 7.5%;
    height: 100px;
    width: 175px;
    opacity:0;
    animation: fade 10s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.text{
    font-family: 'Norwester',  sans-serif;
    font-size: 40px;
    color: #282625;
    letter-spacing: 0.3px;
    line-height: 35px;
}

.h2 {
    font-family: 'Circular Bold', sans-serif;
    font-size: 25px;
    color: #f9f1e3;
    position: relative;
    bottom: 25%;
}

.h3 {
    font-family: 'Norwester',  sans-serif;
    font-size: 13px;
    color: #a12825;
    position: relative;
    top: 0;
}

.eye{
     width: 191px;
     height: 191px;
     background: #f9f1e3;
     position: absolute;
     overflow: hidden;
     top: 62.9%;
     left: 59.75%;
     transform: translate(-50%,-50%) rotate(45deg);
     border-radius: 75% 12% 75% 12%;
     cursor: pointer;
 }

.iris{
    width: 65px;
    height: 65px;
    background: #222f3e;
    border-radius: 50%;
    border: 30px solid #01bbef;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lid{
    width: 300px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index:1;
}

.lid span{
    display: block;
    width: 100%;
    height: 0%;
    background: rgb(255, 191, 184);
    border-radius: 0 0 60% 60%;
    transition: 0.4s all;
}

.eye:hover .lid span{
    animation: blink 3s ease-in-out infinite;
}

@keyframes blink{
    0%,70%,100% {height: 0%;}
    35% {height: 100%;}
}

.eye2{
    width: 150px;
    height: 150px;
    background: #f9f1e3;
    position: absolute;
    overflow: hidden;
    top: 37.25%;
    left: 31.25%;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 75% 12% 75% 12%;
    cursor: pointer;
}

.irisover{
    width: 45px;
    height: 45px;
    background: #222f3e;
    border-radius: 50%;
    border: 23px solid #01bbef;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.irisover:hover{
    animation: fadeout 3s ease-in-out;
    animation-fill-mode: forwards;
}

.irisover2{
    width: 46px;
    height: 46px;
    background: #222f3e;
    border-radius: 50%;
    border: 18px solid #01bbef;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.irisover2:hover{
    animation: fadeout 3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity: 0;}
}

.iris2{
    width: 90px;
    height: 90px;
    background: #01bbef;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pupil{
    width: 45px;
    height: 45px;
    background: #222f3e;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.eye3{
    width: 117px;
    height: 117px;
    background: #f9f1e3;
    position: absolute;
    overflow: hidden;
    top: 86.45%;
    left: 27.5%;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 75% 12% 75% 12%;
    cursor: pointer;
}

.iris3{
    width: 80px;
    height: 80px;
    background: #01bbef;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blue{
    width: 80px;
    height: 80px;
    background: #01A0CD;
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spin 3s infinite;
    animation-fill-mode: forwards;
}

.black{
    width: 80px;
    height: 80px;
    background: #222F3E;
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spin 3s infinite;
    animation-fill-mode: forwards;
}

.one{
    animation-delay: 0.5s;
    z-index: 11;
}

.two{
    animation-delay: 1s;
    z-index: 10;
}


.three{
    animation-delay: 1.5s;
    z-index: 9;
}

.four{
    animation-delay: 2s;
    z-index: 8;
}

.five{
    animation-delay: 2.5s;
    z-index: 7;
}

.six{
    animation-delay: 3s;
    z-index: 6;
}

@keyframes spin{
    0% {opacity: 0; width: 100%; height: 100%;}
    20% {opacity: 0.75; width: 100%; height: 100%;}
    100% {opacity: 1; width: 40%; height: 40%;}
}


.circle{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #a12825;
}

.circ1{
    left:2.2%;
    top: 21.4%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
}

.circ2{
    right:2.2%;
    top: 23%;
    animation: move2 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.circ3{
    left:2.2%;
    top: 24.9%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.circ4{
    left:2.2%;
    top: 26.5%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 2.25s;
}

.circ5{
    right:2.2%;
    top: 47%;
    animation: move2 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: .25s;
}

.circ6{
    left:2.2%;
    top: 48.75%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.circ7{
    left:2.2%;
    top: 76.2%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: .75s;
}

.circ8{
    left:2.2%;
    top: 77.85%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

.circ9{
    right:2.2%;
    bottom: 4.4%;
    animation: move2 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.circ10{
    left:2.2%;
    bottom:2.75%;
    animation: move 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

.circ11{
    right:2.2%;
    bottom: 1.05%;
    animation: move2 10s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

@keyframes move{
    0% {transform: translateX(0)}
    50% {transform: translateX(409px)}
    100% {transform: translateX(0)}
}

@keyframes move2{
    0% {transform: translateX(0)}
    50% {transform: translateX(-409px)}
    100% {transform: translateX(0)}
}

